/* Make the page layout flexible */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Meera Inimai', sans-serif;
    background: url("/static/images/bgimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

/* MAIN CONTENT must grow to push the footer down */
.main-container {
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    flex: 1; /* <- This ensures it takes up available space */
    padding: 0 25px 0 0;
}

.navbar-container {
    padding: 0 10px 0 15px;
}

nav ul {
    background-color: wheat;
    border-radius: 50px;
    border: 3px solid black;
    list-style-type: none;
    text-align: center;
    margin: 60px 10px 50px 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.753);
    height: 280px;
    position: fixed;
}

.nav-cell {
    padding: 10px;
    width: 28px;
    height: 28px;
    margin: 30px 0 20px 0;
    background-color: #ffbb01;
    border-radius: 50%;
}

.nav-icon {
    width: 28px;
    height: 28px;
    color: #470a00;
}

.nav-cell:hover {
    background-color: #470a00;
}

.nav-cell:hover .nav-icon {
    color: #ffbb01;
}

.header {
    text-align: center;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
}

.title {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.tag-line {
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
}

.points-content {
    padding: 5px;
}

.points {
    border: 3px solid black;
    height: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    background-color: wheat;
}

.point-section {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 6px;
}

.point-diamond-img {
    padding: 3px;
    height: 35px;
    width: 35px;
    padding-left: 10px;
}

.point-coins-img {
    height: 50px;
    margin-top: -5px;
    width: 55px;
}

.point-count {
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 4px;
}

.page-container {
    margin-left: 50px;
}

.page-heading {
    display: flex;
    flex-direction: row;
    padding: 10px 0 6px 5px;
}

.page-title {
    font-size: 26px;
    font-weight: bolder;
    margin: 0;
}

/* FOOTER - Now it stays at the bottom */
footer {
    background-color: wheat;
    border-radius: 50px;
    border: 3px solid black;
    text-align: center;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.753);
    font-weight: bold;
    color: #470a00;
    font-size: small;
}
