.fillups-border {
    width: 800px;
}

.fillups-row {
    display: flex;
    flex-direction: row;
}

.fillups-word {
    margin: 10px 15px 10px 15px;
}

.options-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    padding-top: 20px;
}

.option-div {
    border: 2px solid black;
    border-radius: 20px;
    width: 180px;
    margin: 10px;
    height: 30px;
    padding-right: 20px;
    padding-top: 5px;
    align-items: center;
    justify-items: center;
}

.option-div:hover {
    box-shadow: 0px 0px 10px 5px rgb(102, 101, 101);
}

.option-input {
    visibility: hidden;
}

.option-label {
    font-size: 20px;
}

.option-div input:checked+label {
    font-weight: bold;
    padding-top: unset;
    text-shadow: 0px 0px 20px 15px red;
}

/* Mobile Devices (480px - 767px) */
@media (max-width: 767px) {
    .main-container {
        width: 95%;
        padding: 15px;
    }
    .button {
        font-size: 16px;
        padding: 10px;
    }
}

/* Small Phones (Below 480px) */
@media (max-width: 480px) {
    .main-container {
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
    .button {
        font-size: 14px;
        padding: 8px;
    }
}