
.main-content {
	padding: 0px;
}

.main {
	border: 3px solid black;
	border-radius: 20px;
	padding: 0;
	background-color: wheat;
	width: 1030px;
}

.filer-container {
	margin: 0px;
	font-size: 15px;
}

.filer-container label {
	font-weight: 600;
	margin-right: 5px;
}

.filer-container select {
	margin-right: 15px;
	font-size: 13px;
	padding: 3px;
	color: black;                 /* Add this */
	background-color: white;     /* Add this */
	border: 1px solid black;     /* Optional: clearer borders */
}

.filer-container select option {
	color: black;                 /* Ensure option text is visible */
	background-color: white;     /* Ensure dropdown is visible */
}

.filter-submit-btn {
	border: 2px solid black;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px;
	box-shadow: 3px 3px 2px 1px rgb(0, 0, 0);
	margin: 10px;
	text-align: center;
	background-color: lightgreen;
	font-weight: bold;
	color: black;
}

.kural-container {
	background: rgb(255, 240, 240);
	border-radius: 20px;
	padding: 7px;
	margin: 10px;
}

.adigaram-row {
	align-items: center;
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.adigaram-row a {
	text-decoration: none;
}

.adigaram {
	height: 40px;
	width: 150px;
	background: #a3b6ff;
	padding: 25px 10px 25px 10px;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	text-align: center;
	margin: 10px 15px 10px 15px;
	border: 2px dashed black;
}

.adigaram:hover{
	box-shadow: 0px 0px 10px 5px rgb(102, 101, 101);
}

/* Mobile Devices (480px - 767px) */
@media (max-width: 767px) {
    .main-container {
        width: 95%;
        padding: 15px;
    }
    .button {
        font-size: 16px;
        padding: 10px;
    }
}

/* Small Phones (Below 480px) */
@media (max-width: 480px) {
    .main-container {
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
    .button {
        font-size: 14px;
        padding: 8px;
    }
}
