
.header {
    text-align: center;
    padding-top: 20px;
}

.title {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.tag-line {
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
}

.signup-heading{
    padding: 15px;
}

.signup-heading h2{
    padding: 0px;
    margin: 0;
}
.signup-form form {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-signup-input {
    height: 40px;
    width: 330px;
    margin: 5px 0 5px 0;
    border: 2px solid black;
    padding-left: 10px;
    font-size: 15px;
}


.navigation-signup-btns {
    display: flex;
    flex-direction: column;
}
.navigation-btns a {
    text-decoration: none;
}


.signup-content {
    height: 420px;
    width: 360px;
    margin-top: 20px;
    margin-left: 120px;
    background-color: wheat;
    border-radius: 20px;
    border: 6px solid black;
}


.signup-image-content{
    background: url("../images/Thiruvalluvar_1.jpg");
    box-shadow: inset 0px 0px 20px 10px rgb(0, 0, 0, 0.6);
    background: url("../images/Thiruvalluvar_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px 70px 70px 100px;
}





/* Mobile Devices (480px - 767px) */
@media (max-width: 767px) {
    .main-container {
        width: 95%;
        padding: 15px;
    }
    .button {
        font-size: 16px;
        padding: 10px;
    }
}

/* Small Phones (Below 480px) */
@media (max-width: 480px) {
    .main-container {
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
    .button {
        font-size: 14px;
        padding: 8px;
    }
}


/* body{
    font-family: 'Meera Inimai', sans-serif;
    margin: 0;
    background-color: #fea108;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.content {
    height: 400px;
    width: 380px;
    margin-top: 40px;
    margin-left: 120px;
    background-color: wheat;
    border-radius: 20px;
    border: 6px solid black;
}

.image-content {
    box-shadow: inset 0px 0px 20px 10px rgb(0, 0, 0, 0.6);
    background: url("../images/thiruvalluvar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.signup-content {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.signup-form form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control {
    height: 40px;
    width: 330px;
    margin: 5px 0 5px 0;
    border: 2px solid black;
    padding-left: 10px;
    font-size: 15px;
}
.error{
    color: red;
    font-style: italic;
}

.navigation-btns {
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
/* }
.signup-button {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 3px 4px 2px 1px rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    height: 30px;
    width: 310px;
    text-align: center;
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}

.navigation-btns a{
    text-decoration: none;
}

.back-button:hover {
    background-color: rgb(103, 170, 247);

}
.next-button{
    padding-top: 5px;
}
.next-button:hover {
    background-color: rgb(103, 170, 247);
}
 */ 
